bundle: kubernetes
applications:
  am:
    charm: alertmanager-k8s
    channel: 1/stable
    revision: 180
    base: ubuntu@20.04/stable
    resources:
      alertmanager-image: 100
    scale: 1
    constraints: arch=amd64
    storage:
      data: kubernetes,1,1024M
    trust: true
  graf:
    charm: grafana-k8s
    channel: 2/edge
    revision: 162
    resources:
      grafana-image: 71
      litestream-image: 46
    scale: 1
    constraints: arch=amd64
    storage:
      database: kubernetes,1,1024M
    trust: true
  prom:
    charm: prometheus-k8s
    channel: 2/edge
    revision: 264
    resources:
      prometheus-image: 151
    scale: 1
    constraints: arch=amd64
    storage:
      database: kubernetes,1,1024M
    trust: true
  ssc:
    charm: self-signed-certificates
    channel: 1/edge
    revision: 362
    scale: 1
    constraints: arch=amd64
  trfk:
    charm: traefik-k8s
    channel: latest/edge
    revision: 248
    base: ubuntu@20.04/stable
    resources:
      traefik-image: 162
    scale: 1
    constraints: arch=amd64
    storage:
      configurations: kubernetes,1,1024M
    trust: true
relations:
- - trfk:certificates
  - ssc:certificates
- - graf:certificates
  - ssc:certificates
- - graf:ingress
  - trfk:traefik-route
- - am:certificates
  - ssc:certificates
- - am:ingress
  - trfk:ingress
- - prom:certificates
  - ssc:certificates
- - prom:ingress
  - trfk:ingress-per-unit
